<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStr62mYaR8TWnBMteKxZ60mM58Dcotumjzjg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">

                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i>Buy Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQogIEWRqRYkIHX3Nlw1NWVFwX_azhfrgGRrw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">

                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i>Buy Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQruVsbhPmxZmtK6mkTZBJZr233e3aJ5gAQvQ&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">

                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i>Buy Now</a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fLDVgFv9cSmQPtry_HTFAEsKMKLNB_IXcw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">

                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i>Buy Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fLDVgFv9cSmQPtry_HTFAEsKMKLNB_IXcw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">

                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i>Buy Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ19y1lJHh2GtN2intU9lGVgANzn00_JjFmHw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">

                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Buy Now</a>

                </div>
            </div>
        </div>
    </div>
</div>